<div id='images'>
	<ul data-orbit>
		<li>
			<%= image_tag 'storyward.png' %>
			<div class='orbit-caption'>www.storyward.net: A site for collaborative storybuilding with friends.</div>
		</li>
		<li>
			<%= image_tag 'pegasus.png' %>
			<div class='orbit-caption'>pegasus-unicorn-deathmatch.herokuapp.com: And endless head to head racing game (A very early creation of mine).</div>
		</li>
		<li>
			<%= image_tag 'flash-mob.png' %>
			<div class='orbit-caption'>flash-mob: A site for creating your own flashcard decks for studying!</div>
		</li>
	</ul>
</div>