<div id='welcome'>
	<h1>Seth Grotelueschen</h1>
	<%= image_tag 'seth.jpg' %>
	<h4>I am a junior web developer and amatuer philosopher. I love to build and create, and help others do the same. If you'd like me to build something for you, just drop me a line. My information is below. Feel free to checkout my Github profile or Tumblr blog to track my coding journey.</h4>

	<div id='link_nav'>
		<a href="#" class="webicon facebook">Like us on Facebook</a>
		<a href="#" class="webicon twitter">Like us on Facebook</a>
		<a href="#" class="webicon github">Like us on Facebook</a>
		<a href="#" class="webicon tumblr">Like us on Facebook</a>
		<a href="#" class="webicon linkedin">Like us on Facebook</a>
	</div>
</div>

<div id='images'>
	<ul data-orbit>
		<li>
			<%= image_tag 'storyward.png' %>
			<div class='orbit-caption'>www.storyward.net: A site for collaborative storybuilding with friends.</div>
		</li>
		<li>
			<%= image_tag 'pegasus.png' %>
			<div class='orbit-caption'>pegasus-unicorn-deathmatch.herokuapp.com: And endless head to head racing game (A very early creation of mine).</div>
		</li>
		<li>
			<%= image_tag 'flash-mob.png' %>
			<div class='orbit-caption'>flash-mob: A site for creating your own flashcard decks for studying!</div>
		</li>
	</ul>
</div>