#welcome {
	width: 40em;
	height: 21em;
	margin: 2em auto;
	background-color: white;
	opacity: 0.75;
	border-radius: 2em;
}

#welcome img {
	height: 9em;
	width: 10em;
	float: right;
	margin: 0 1em 1em 1em;
}

#welcome h1 {
	margin: 0 20px;
}

#welcome h4 {
	margin: 0 20px;
}

#link_nav a {
	margin-right: 3em;
	position: relative;
	left: 10em;
	bottom: 1.5em;
}


#images {
	width: 40em;
	height: 30em;
	margin: 0 auto;
}

body {
	background-image: url('background.jpg');
}

.orbit-bullets li {
	display: none;
}

#images a.orbit-prev {
	background-color: transparent;
	color: gray;
}

#images a.orbit-next {
	background-color: transparent;
	color: gray;
}

#images a.orbit-prev span {
	border-right-color: gray;
}

#images a.orbit-next span {
	border-left-color: gray;
}
